<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="test/bootstrap.php">
         
    <testsuites>
        <testsuite name="Basic Tests">
            <directory>./test/src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage/html" />
    </logging>

</phpunit>
